<p id="notice"><%= notice %></p>

<h2><%= @company.name %></h2>

<pre>
  <%= @company.description %>
</pre>

<%= link_to 'Edit', edit_company_path(@company) %> |
<%= link_to 'Back', companies_path %>
